<?xml version="1.0"?>
<model>
  <name>payload</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Truyen Phan (Frank)</name>
    <email>truyen.pt@qualgo.net</email>
  </author>
  <description>
    Spherical payload for drone sling load simulation.
    Radius: 5cm, Mass: 200g
  </description>
</model>

