<?xml version="1.0"?>
<model>
  <name>f450-uwb</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Frank</name>
    <email>phantruyenqnx@gmail.com</email>
  </author>
  <description>F450 quadrotor with a GTEC UWB tag. Merge-includes the f450 airframe and
  attaches the gtec_uwb_plugin, which ranges to anchors named anchor_* in the world and
  publishes gtec_msgs.msgs.Ranging on /gtec/toa/ranging.</description>
</model>
