<?xml version="1.0"?>
<model>
  <name>x500_slung_payload</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Truyen Phan (Frank)</name>
    <email>truyen.pt@qualgo.net</email>
  </author>
  <description>Model of the X500 with a slung payload attached via tether.</description>
</model>

