<?xml version="1.0"?>
<model>
  <name>x500_uav_contest_2026</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Truyen Phan (Frank)</name>
    <email>truyen.pt@qualgo.net</email>
  </author>
  <description>Model of the X500 rescue and drop ball for uav contest 2026.</description>
</model>

