<?xml version="1.0"?>
<model>
  <name>x500_livox_mid_360</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Manh Quan Nguyen</name>
    <email>quan.nsm@qualgo.net</email>
  </author>
  <description>x500 model with 3D Livox Mid360 Scanning Lidar</description>
</model>
